<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
</head>
<body>

  <form action="/login" method="post">
    email <input type="email" name="email"> <br>
    password <input type="password" name="password"> <br>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">login</button>
  </form>
  or <a href="/signup">signup</a> if you has't an account.
  
  <br>

  <a href="/reset"> reset your password</a>

</body>
</html>